[Unit]
Description=Prometheus service
After=network.target
Wants=network.target

[Service]
ExecStart={{ prometheus_working_dir }}/prometheus {% for config in prometheus_service_config if config[1] is not none %}--{{ config[0] }}={{ config[1] }} {% endfor %} {% for enabled_bool in prometheus____enabled_flags %}--{{ enabled_bool }} {% endfor %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{prometheus_owner}}
Group={{prometheus_group}}
StandardOutput=journal
StandardError=journal
WorkingDirectory={{ prometheus_working_dir }}
LimitNOFILE={{ prometheus_service_limitnofile }}

[Install]
WantedBy=multi-user.target